@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  padding-left: 30px;
  padding-right: 30px;
}

.swiper-button-prev {
  left: -50px;
}

.swiper-button-next {
  right: -50px;
}

/* Styling untuk Dot Pagination */
.swiper-pagination-bullet {
  background-color: #4A7900 !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #80B500 !important;
  opacity: 1;
}